.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
*.sqlite3
*.env
*.venv
env/
venv/
.env/
.venv/
node_modules/
*.egg-info/
*.egg
dist/
build/
*.db
*.csv~